.button {
  position: relative;
  cursor: pointer;
  background: var(--color);
  color: var(--bg-color);
  border: 1px solid transparent;
  box-shadow: 0 4px 4px 0 #00000010;
  padding: 12px 24px;
  line-height: 1.5em;
  border-radius: 5px;
  max-width: 100%;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContent {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.button:hover,
.button:focus {
  border-color: var(--color);
  background-color: var(--bg-color);
  color: var(--color);
}

.button:active {
  background-color: var(--bg-color-1);
}
